<nav class="navbar navbar-inverse" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home">Chelsea FC</a>
    </div>
    <div class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/home">Home</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/squad">Squad</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/info">Info</a>
        </li>
      </ul>
    </div>
  </div>
</nav>